<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Chat</title>
    </head>
    <body>
        <div id="chat">
            <ul id="message">
                <li v-for="message in messages">{{ message }}</li>	
            </ul>
            
            <form v-on:submit="send">
                <input type="text" v-model="message">
                <button>Send</button>
            </form>	
        </div>
          
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
        <script type="text/javascript">
            var socket = io();
            Vue.config.devtools = true;

            let app = new Vue({
                el:'#chat',
                data: {
                    messages: [],
                    message: '',
                },
                mounted: function() {
                    socket.on('chat.message', function(message) {
                        app.messages.push(message);
                    });
                },
                methods: {
                    send: function(e) {
                        socket.emit('chat.message', this.message);
                        this.message = '';
                        e.preventDefault();
                    }
                }
            });
            </script>
    </body>
</html>